body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    background-color: whitesmoke;
    margin: 2em 0;
}

form {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 2em;
}

.input-container {
    width: 200px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 1em;
    column-gap: 10px;
}

.btn-close {
    width: 100px;
    display: inline-block;
    padding: 0.50em 0.50em;
    border: none;
    background: rgb(242, 242, 242);
    border-radius: 3px;
    cursor: pointer;
}

.btn-submit {
    width: 100px;
    display: inline-block;
    padding: 0.50em 0.50em;
    margin: 0 auto;
    margin-top: 1em;
    border: none;
    background: cornflowerblue;
    border-radius: 3px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: rgb(73, 115, 192);
}

.input {
    width: 150px;
    padding: 0.30em 0.10em;
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px solid cornflowerblue;
    outline: none;
    margin-bottom: 0.50em;
    margin: 0 auto;
}

.title-container {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 3em;
    justify-content: center;
}

.container-box {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.elementBox {
    display: inline-block;
    background-color: cornflowerblue;
    width: 40px;
    height: 40px;
    padding: 1em;
    text-align: center;
    border: solid 2px black;
}

.alert.hide{
    display: none;
    transition: all 0.2s ease;
}

.alert.show{
    display: block;
    position: absolute;
    transform: translateX(50%);
    top: -20px;
    background-color: rgb(255, 105, 79);
    padding: 0.5em;
    /* margin: 0 auto; */
    left: 650px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    border-radius: 3%;
    transition: all 1s ease;
    transform: translateY(80px);
    transition: all 0.2s ease;
}

.alert.show:hover{
    cursor: pointer;
    transition: all 0.1s ease;
}